*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: white;
}

#container{
	width: 70%;
	border: 1px solid black;
	margin: auto;
}

header{
	height: 100px;
	width: 100%;
	line-height: 100px;
	text-align: center;
	background: #DC143C;
	color: white;
	margin: 0px;
}

nav ul li {
	float: left;
	color: black;
	line-height: 20px;
	margin: 10px;
}

a{
	color: black;
}

nav{
	background: #FFEBCD;
	height: 50px;
	border: 1px solid black;
	padding-left: 200px;

}


.divider{
	clear: both;
}

#articles{
	width: 70%;
	min-height: 400px;
	float: left;
	background: #F0FFFF;
}

aside{
	float: right;
	background: #6495ED;
	min-height: 400px;
	width: 30%;
}

footer{
	line-height: 30px;
	background: grey;
	text-align: center;
	color: white;
}